@import "./base.css";

#app {
    max-width: 1280px;
    margin: 0;
    padding: 2rem;

    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

body {
    background-color: rgb(2, 45, 145);
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}

.cheap {
    color: green;
}

.expensive {
    color: red;
}

/*
@font-face {
    font-family: Roboto;
    src: url(RobotoMono-VariableFont_wght.ttf);
}

* {
	font-family: Roboto;
    table-align: center;
	text-align: center;

    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, 
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, 
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}
*/
